<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.txstate.cs4398.vc.mobile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="15" />

    <application
         android:name=".VideoApp" 
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MobileClient"
            android:label="@string/mobile_client" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
       	<activity
            android:name=".ScanActivity"
            android:label="@string/scan_activity" 
            android:screenOrientation="portrait">
        </activity>
        
    </application>

</manifest>